{% extends 'online_quizz/base.html' %}
{% block link %}
  <link rel="stylesheet" href="/static/css/course_detail.css" >
{% endblock %}
{% block title %}
	{{ course.course_name }}
{% endblock %}

{% block content %}
    {% load static %}
<script>

	// Wait for the page to load before showing the quiz container
	document.addEventListener('DOMContentLoaded', function() {
		var startQuizButtons = document.querySelectorAll('.start-quiz-button');

		// Attach click event listeners to each start quiz button
		startQuizButtons.forEach(function(button) {
			button.addEventListener('click', function() {
				document.getElementById('message-form').style.display = 'none';
				document.getElementById('quiz-container').style.display = 'block';

				var quizDuration = 600; // 10 minutes in seconds
				var display = document.querySelector('.countdown-timer');
				startTimer(quizDuration, display);
			});
		});
	});
</script>

<!-- Prompt the user with buttons to start the quiz -->

<div id="message-form">
    <h3>Do you want to start the quiz?</h3>
    <div class="start-quiz-button-container">
        <button class="start-quiz-button">Yes</button>
        <button class="start-quiz-button">
            <a href="/online/courses" style="color: inherit; text-decoration: none;">No</a>
        </button>
    </div>
</div>
<div id="quiz-container" class="container" style="display: none;">
	<div class="name">
		<div class="name">
			<h1>{{ course.course_name }}</h1>
			<hr>
			<h3>{{ course.description }}</h3>
			<p>Total Marks: {{ course.total_marks }}</p>
			<hr>
			<!-- Countdown timer -->



			<h2>Questions:</h2>

			<div class="container">
				<form method="POST" action="{% url 'online_quizz:evaluate_results' course.id %}">
					{% csrf_token %}
					{% for question in course.question_set.all %}
						<div class="form-group">
							<label for="question">{{ question.question_number }}. {{ question.question }}</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="question_{{ question.id }}"
								id="option1" value="Option1">
							<label class="form-check-label" for="Option1">
								{{ question.option1 }}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="question_{{ question.id }}"
								id="option2" value="Option2">
							<label class="form-check-label" for="Option2">
								{{ question.option2 }}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="question_{{ question.id }}"
								id="option3" value="Option3">
							<label class="form-check-label" for="Option3">
								{{ question.option3 }}
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="question_{{ question.id }}"
								id="option4" value="Option4">
							<label class="form-check-label" for="Option4">
								{{ question.option4 }}
							</label>
						</div>
					{% endfor %}

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}